<div class="contextual">
    <% if authorize_global_implemented %>
      <%= link_to(l(:label_project_new), {:controller => 'projects', :action => 'new'}, :class => 'icon icon-add') + ' |' if User.current.allowed_to?(:add_project, nil, :global => true) %>
    <% else %>
      <%= link_to(l(:label_project_new), {:controller => 'projects', :action => 'new'}, :class => 'icon icon-add') + ' |' if User.current.admin? %>
    <% end %>
    <%= link_to l(:label_issue_view_all), { :controller => 'issues' } %> |
    <%= link_to l(:label_overall_activity), { :controller => 'activities' }%>
</div>

<h2><%=l(:label_project_plural)%></h2>

<table class="list">
	<thead>
		<tr>
			<th><%=l(:label_project)%></th>
			<th><%=l(:field_description)%></th>
		</tr>
	</thead>
	<tbody>
		<%= render_projects_tree(@projects) %>
	</tbody>
</table>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
	<%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% html_title(l(:label_project_plural)) -%>
