<h2><%=l(:label_overview)%></h2> 
	
<div class="splitcontentleft">
	<%= textilizable @project.description %>	
	<ul>
	<% unless @project.homepage.blank? %><li><%=l(:field_homepage)%>: <%= link_to(h(@project.homepage), @project.homepage) %></li><% end %>
	</ul>
  <% if @subprojects.any? %>
	<table class="list">
	  <tbody>
	  <% ancestors = [] %>
	<% for project in @subprojects %>
	  <% rowid = "" %>
	  <% spanicon = "" %>
	  <% openonclick = "" %>
	  <% classes = "child " + cycle("odd", "even") %>
	  <% if(project.parent_id == nil) %>
		<% ancestors.clear %>
		<% ancestors << project.id %>
	  <% else %>
		<% while (ancestors.any? && !(project.parent_id == ancestors.last)) %>
				<% ancestors.pop %>
		<% end %>
		<% if( !(ancestors.detect {|pid| pid == project.parent_id })) %>
		  <% prvclasses = "open show parent" %>
		  <% ancestors.each do |pid| %>
			<% prvclasses += " " + pid.to_s %>
		  <% end %>
		  <% openonclick = "onclick=\"showHide('"+project.parent_id.to_s+"','"+project.parent_id.to_s+"span')\"" %>
		  <tr class="<%= prvclasses %>" id="<%= project.parent_id.to_s + "span" %>" >
			<td class="name" style="padding-left: <%= 2*ancestors.length %>em;"><%="<span " + openonclick + " class=\"expander\">&nbsp </span>"%><%= h("Sub Projects") %><span <%= openonclick %> class="empty">&nbsp</span></td>
		  </span>
		  </tr>
		  <% ancestors << project.parent_id %>
		<% end %>
		<% ancestors.each do |pid| %>
		  <% classes += " " + pid.to_s %>
		<% end %>
		<% ancestors << project.id %>
	  <% end %>
	  <tr class="<%= classes %>" <%= rowid %> >
		<td class="name" style="padding-left: <%= 2*project.level %>em;"><%= spanicon %><%= project.active? ? link_to(h(project.name), {:controller => 'projects', :action => 'show', :id => project}, :class => "project") : h(project.name) %><span <%= openonclick %> class="empty <%=User.current.member_of?(project) ? 'my-project' : nil%>">&nbsp</span></td>
	  </tr>
	<% end %>
	  </tbody>
	</table>
  <% end %>
	<% @project.custom_values.each do |custom_value| %>
	<% if !custom_value.value.empty? %>
	   <li><%= custom_value.custom_field.name%>: <%=h show_value(custom_value) %></li>
	<% end %>
	<% end %>

  <% if User.current.allowed_to?(:view_issues, @project) %>
  <div class="box">    
    <h3 class="icon22 icon22-tracker"><%=l(:label_issue_tracking)%></h3>
    <ul>
    <% for tracker in @trackers %>    
      <li><%= link_to tracker.name, :controller => 'issues', :action => 'index', :project_id => @project, 
                                                :set_filter => 1, 
                                                "tracker_id" => tracker.id %>:
					<%= l(:label_x_open_issues_abbr_on_total, :count => @open_issues_by_tracker[tracker].to_i,
																										:total => @total_issues_by_tracker[tracker].to_i) %>
			</li>
    <% end %>
    </ul>
    <p><%= link_to l(:label_issue_view_all), :controller => 'issues', :action => 'index', :project_id => @project, :set_filter => 1 %></p>
  </div>
  <% end %>
  <%= call_hook(:view_projects_show_left, :project => @project) %>
</div>

<div class="splitcontentright">
<% if users_by_role_implemented %>
	<% if @members_by_role.any? %>
	  <div class="box">
		<h3 class="icon22 icon22-users"><%=l(:label_member_plural)%></h3>	
		<p><% @members_by_role.keys.sort.each do |role| %>
		<%= role.name %>:
		<%= @members_by_role[role].collect(&:user).sort.collect{|u| link_to_user u}.join(", ") %>
		<br />
		<% end %></p>
	  </div>
	<% end %>
<% else %>
	<% if @users_by_role.any? %>
	  <div class="box">
		<h3 class="icon22 icon22-users"><%=l(:label_member_plural)%></h3>    
		<p><% @users_by_role.keys.sort.each do |role| %>
		<%=h role %>: <%= @users_by_role[role].sort.collect{|u| link_to_user u}.join(", ") %><br />
		<% end %></p>
	  </div>
	<% end %>
<% end %>

  <% if @news.any? && authorize_for('news', 'index') %>
  <div class="box">
    <h3><%=l(:label_news_latest)%></h3>  
    <%= render :partial => 'news/news', :collection => @news %>
    <p><%= link_to l(:label_news_view_all), :controller => 'news', :action => 'index', :project_id => @project %></p>
  </div>  
  <% end %>
  <%= call_hook(:view_projects_show_right, :project => @project) %>
</div>

<% content_for :sidebar do %>
    <% if user_signed_in? && @project.repository.present? %>     
     <% form_for(@subscription) do |f| %>
       <label>
         Follow this project
       </label>
       <%= f.hidden_field :project_identifier %>
       <%= f.check_box :subscribed %>
       <%= f.submit "Apply" %>
     <% end %>
    <% end %>

    <% planning_links = []
      planning_links << link_to_if_authorized(l(:label_calendar), :controller => 'issues', :action => 'calendar', :project_id => @project)
      planning_links << link_to_if_authorized(l(:label_gantt), :controller => 'issues', :action => 'gantt', :project_id => @project)
      planning_links.compact!
      unless planning_links.empty? %>
    <h3><%= l(:label_planning) %></h3>
    <p><%= planning_links.join(' | ') %></p>
    <% end %>
    
    <% if @total_hours && User.current.allowed_to?(:view_time_entries, @project) %>
    <h3><%= l(:label_spent_time) %></h3>
    <p><span class="icon icon-time"><%= l_hours(@total_hours) %></span></p>
    <p><%= link_to(l(:label_details), {:controller => 'timelog', :action => 'details', :project_id => @project}) %> |
    <%= link_to(l(:label_report), {:controller => 'timelog', :action => 'report', :project_id => @project}) %></p>
    <% end %>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :id => @project, :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<% html_title(l(:label_overview)) -%>
